/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-white);

  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.nav-logo {
  width: 170px;
  margin-top: 10px;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
/* section */
.section {
  padding: 5rem 0;
  scroll-margin-top: 4rem;
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Hero
===============
*/

.hero {
  min-height: 100vh;
  background: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero2 {
  width: 1440px;
  height: 853px;
  left: 0px;
  top: 0px;

  background-color: #fdf4f4;
}
.Spiderman {
  width: 1440px;
  height: 598px;
  position: relative;
  top: 131px;
  background-color: #edf0c1;
}

.Spiman {
  height: 600px;
  left: 954px;
  top: -53px;
  position: relative;
}
.Iron {
  width: 1440px;
  height: 853px;
  left: 0px;
  top: 0px;

  background: black;
}
.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.hero-banner h1 {
  width: 706px;
  height: 170px;

  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;

  line-height: 100%;
  /* or 64px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.018em;

  color: #fcfcfc;
}
.hero-banner p {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;

  line-height: 100%;
  /* or 38px */
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.018em;

  color: #ffffff;
}
.hero-btn {
  padding: 0.9rem 1.6rem;
  font-size: 1.25rem;
  background: #fff500;
  border-radius: 5px;
  color: #000000;
}
.Ironman {
  position: relative;
  left: 459px;
  bottom: 61px;
}
.Iron-avenger {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  text-align: initial;

  /* or 44px */
  width: 525px;
  margin: auto;
  top: 234px;
  position: relative;

  display: flex;

  letter-spacing: -0.018em;

  /* Black/600 */

  color: #ffffff;
}
.hero-btn:hover {
  background: transparent;
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.captain {
  display: flex;
  display: flex;
  justify-content: space-between;
  margin-right: 131px;
  margin-left: -32px;
  position: relative;
  top: -167px;
}
.captains {
  display: flex;
  display: flex;
  justify-content: space-between;
  margin-right: 181px;
  margin-left: -32px;
  position: relative;
  top: -130px;
}
.bang {
  height: 218px;
  position: relative;
  top: 409px;
  right: -21px;
}
@media screen and (min-width: 768px) {
  .hero {
    background: #313131 url("./images/hero.jpeg") center/cover no-repeat;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    max-width: 34rem;
    margin-left: 72px;
    margin-bottom: 30px;
  }
}

/*
=============== 
About
===============
*/
/* section added to globals */
/* title added to globals */
/* section center added to globals */
.about-img,
.about-info {
  margin-bottom: 2rem;
}
.best-selling {
  background: #edf0c1;
  width: 100%;
  margin-top: 50px;
  height: 1024px;
}
.best-selling h2 {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 100%;
  margin-left: 63px;
  margin-top: 20px;
  top: 42px;
  position: relative;
}
.card {
}
.Slide {
  background: #111111;
  margin-top: 50px;
}
.comic-list {
  position: relative;
  left: 108px;
  top: 71px;
  font-family: "Comic Sans MS";
  font-style: normal;
  color: #191919;
  display: flex;
  align-items: center;
  letter-spacing: -0.018em;
  font-weight: 400;
  font-size: 40px;
}
.comic-ul {
  margin-bottom: 10px;
}
.comic-img {
  position: absolute;
  display: flex;
  flex-direction: column;
}
.b1 {
  position: relative;

  height: 402px;
  width: 288px;
  left: 733px;
  bottom: 196px;
}

.b2 {
  position: relative;
  left: 768px;
  top: 109px;
  height: 442px;
}
.b3 {
  position: relative;

  height: 463px;

  left: -54px;
  bottom: 295px;
}
.aven {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  text-align: initial;

  /* or 44px */
  width: 629px;
  margin: auto;
  top: 144px;
  left: 174px;
  position: relative;

  display: flex;

  letter-spacing: -0.018em;

  /* Black/600 */

  color: #000000;
}
.avenger {
  font-family: "Comic Sans MS";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  text-align: initial;

  /* or 44px */
  width: 525px;
  margin: auto;
  top: 234px;
  position: relative;

  display: flex;

  letter-spacing: -0.018em;

  /* Black/600 */

  color: #000000;
}

.ppp {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  top: 254px;
  width: 453px;
  left: 326px;
  text-align: initial;
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: -0.018em;
  color: #323232;
}
.Iron-text {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  top: 254px;
  width: 453px;
  left: 94px;
  text-align: initial;
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: -0.018em;
  color: #ffffff;
}

.ppps {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  top: 254px;
  width: 453px;
  left: 518px;
  text-align: initial;
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: -0.018em;
  color: #323232;
}

.pp {
  font-family: "Comic Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  top: 254px;
  width: 453px;
  left: 465px;
  text-align: initial;
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: -0.018em;
  color: #323232;
}
.Download-buttons {
  box-shadow: 6px 6px 0 #000;
  background: #fff500;
  border-radius: 5px;
  border: none;
  right: 150px;
  padding: 12px 24px;
  text-align: center;
  font-family: "Comic Sans MS";
  font-weight: 700;
  font-size: 30px;
  width: 215px;
  height: 70px;
  cursor: pointer;
  color: #000000;
  top: 257px;
  position: relative;
}
.Download-button {
  box-shadow: 6px 6px 0 #000;
  background: #fff500;
  border-radius: 5px;
  border: none;
  right: -464px;
  padding: 12px 24px;
  text-align: center;
  font-family: "Comic Sans MS";
  font-weight: 700;
  font-size: 30px;
  width: 215px;
  height: 70px;
  cursor: pointer;
  color: #000000;
  top: 257px;
  position: relative;
}
.ohh {
  text-align: center;
  margin-right: 278px;
}
.ohhnoman {
  text-align: center;
  margin-right: 750px;
  position: relative;
  top: 26px;
}
.ohhnoSpi {
  text-align: center;
  margin-right: 750px;
  position: relative;
  top: 26px;
}
.ohhno {
  text-align: center;
  margin-right: -108px;
  position: relative;
  top: 122px;
}
@media screen and (min-width: 992px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .about-img,
  .about-info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.5rem solid var(--clr-primary-5);
    box-sizing: border-box;
    top: -1.5rem;
    left: -1.5rem;
  }

  .about-img {
    position: relative;
  }
  .about-photo {
    position: relative;
  }
}
/*
=============== 
Services
===============
*/
.services {
  background: var(--clr-grey-10);
}
.service {
  text-align: center;
  margin-bottom: 3rem;
}
.service-icon {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.5rem;
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service-text {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .service {
    display: flex;
    text-align: left;
  }
  .service-icon {
    align-self: start;
  }
  .service-info {
    padding-left: 1rem;
  }
  .service-title {
    margin-bottom: 0.5rem;
  }
}

/*
=============== 
Featured Tours
===============
*/

.tour-card {
  transition: var(--transition);
  background: var(--clr-grey-10);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.tour-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.tour-img-container {
  position: relative;
}
.tour-img {
  height: 15rem;
  object-fit: cover;
}
.tour-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}
.tour-info {
  padding: 1.25rem 1.5rem;
}
/* additional css for different layout*/
.tour-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tour-title p,
.tour-title h4 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
.tour-title p {
  color: var(--clr-grey-7);
}
/* end of additional css for different layout*/
.tour-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.tour-footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.tour-footer p span {
  margin-right: 0.25rem;
}
.tour-btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .featured-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .featured-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*
=============== 
Footer
===============
*/
.footer {
  background: var(--clr-grey-1);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer-link {
  color: var(--clr-white);
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.footer-link:hover {
  color: var(--clr-primary-5);
}
.footer-icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--clr-white);
  transition: var(--transition);
}
.footer-icon:hover {
  color: var(--clr-primary-5);
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--clr-white);
}
.copyright span {
  margin-left: 0.5rem;
}
/*
=============== 
Navbar
===============
*/
/* add :not(.nav-logo) to img */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  z-index: 2;
  height: 4rem;
  display: flex;
  align-items: center;
}
.nav-icons {
  display: none;
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  transform: scale(1.2);
}
.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  /* letter-spacing: var(--spacing); */
  transition: var(--transition);
  color: var(--clr-grey-1);
  cursor: pointer;

  font-family: Comic Sans MS;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.nav-link:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
  padding-left: 2.25rem;
}
/* nav toggle functionality */
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 280px;
}
/* nav at bigger screen size */
@media screen and (min-width: 992px) {
  /* hide nav toggle button */
  .nav-toggle {
    display: none;
  }
  /* show links */
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    top: -85.5px;
    left: -200px;
    align-items: center;
    /* optional */
    flex-wrap: wrap;
  }
  .nav-header {
    padding: 0 0;
  }
  .nav-link {
    padding: 0 0;
  }
  .nav-link:hover {
    padding: 0;
    color: #aa0000;

    background: transparent;
  }
  .nav-icons {
    display: flex;
  }

  .nav-link {
    margin-right: 3.5rem;
  }
  .nav-icon {
    margin-right: 0.7rem;
    color: var(--clr-primary-5);
    font-size: 1.2rem;
    transition: var(--transition);
  }
  .nav-icon:hover {
    color: var(--clr-primary-8);
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

.first {
  position: absolute;
  width: 400px;
  display: inline;
  top: 118px;
  right: 0px;
  left: 40px;
}

/* college text edit  */
/* .coll{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
display: flex;
font-size: 18px;
color: #423E40;
font-weight: 600;
padding-top: 0px;
letter-spacing: -0.6px;
position:absolute;
left: 74px;
    bottom: 9px;
} */
.second {
  color: black;
  position: absolute;
  width: 400px;
  display: flex;
  line-height: 20px;
  font-weight: 400;
  font-size: 15px;
  top: 338px;
  font-style: italic;
  right: 0px;
  left: 42px;
}

.font {
  font-family: "Sansation";
  color: black;
  font-weight: bold;
  font-size: 3rem;
  line-height: 50px;
  text-align: left;
}

.idea {
  position: absolute;
  top: 395px;
  right: 0px;
  left: 40px;
}

.out {
  position: absolute;
  top: 395px;
  right: 0px;
  left: 167px;
}

.nav-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0px 20px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.nav_link,
.ti,
li {
  padding: 9px 25px;
  list-style: none;
}

#kio {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5e8e4;
  position: sticky;
  padding: 0 24 0 10px;
  box-shadow: 0px -2px 18px rgb(71 115 158 / 20%);
  height: 56px;
  display: flex;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  position: relative;
  top: 4px;
  left: 23px;
}

.ti {
  position: relative;
  margin: 20px;
  top: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.top-bn {
  border: none;
  border-radius: 5px;
  margin-right: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
}

.display-1 {
  max-width: 500px;
  max-height: 500px;
}

#shadow {
  box-shadow: -5px 10px 10px 5px rgb(71 115 158 / 20%);
  text-align: right;
}

.display {
  position: absolute;
  right: 50px;
  top: 100px;
}

.top-display {
  position: absolute;
  left: 640px;
  top: 165px;
}

.Box-1 {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  background-color: #eaedd7;
  position: absolute;
  top: 800px;
  left: 45px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.Box-2 {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  background-color: #d3e8cf;
  position: absolute;
  top: 800px;
  right: 45px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ot {
  font-weight: 500;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
  text-align: left;
  margin-top: 20px;
  margin-left: 32px;
}

.in {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.in-1 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.bottom {
  position: absolute;
  left: 24px;
  top: 1290px;
  text-align: left;
  margin: 20px 20px;
}

.feet {
  height: 335px;
  position: absolute;
  margin-top: 50px;
  top: 1500px;
}

.row {
  display: flex;
}

.column {
  flex: 15%;
  padding: 10px;
  margin-left: 50px;
}

article.art-1 p {
  font-size: 10px;
  color: #c7c7cd;
  width: 230px;
}

article.art-1 img {
  cursor: pointer;
}

article.art-1 h1 {
  padding-top: 20px;
  font-size: 25px;
  width: 100px;
}

article.contact h1 {
  font-size: 25px;
  padding-top: 20px;
  width: 200px;
}

article.contact p {
  font-size: 10px;
  color: #c7c7cd;
  width: 250px;
}

article.links h1 {
  font-size: 25px;
  width: 200px;
  padding-top: 20px;
}

.custom-color {
  color: white;
}

.custom-class {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

article.links a {
  font-size: 10px;
  color: #c7c7cd;
  margin: 5px;
  width: 150px;
}

article.news h1 {
  font-size: 25px;
  padding-top: 20px;
}

article.news p {
  font-size: 10px;
  color: #c7c7cd;
  width: 200px;
}

article.news input {
  width: 120px;
  font-family: "Montserrat", sans-serif;
}

article.news form {
  display: flex;
}

.form-control::placeholder {
  color: #ced4da;
}

.btnn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #343a40;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  margin-left: 5px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnn:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

@media (max-width: 480px) {
  /* Make header and sections take up full width of viewport */
  header,
  main > section {
    width: 100%;
  }

  /* Increase font size for small screens */
  body {
    font-size: 1.2em;
  }

  /* Adjust layout for small screens */
  nav {
    flex-direction: column;
  }

  ul.nav-links {
    justify-content: flex-start;
  }

  a.cta {
    margin-top: 10px;
  }
}

.logo-2 {
  position: absolute;
  left: 33px;
}

section.row hr {
  margin: auto;
  margin-top: 10px;
}

section.g p {
  margin: 20px;
}

section.g a {
  font-size: 10px;
}

.seat-2 {
  max-width: 95px;
  max-height: 231px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -1px;
}

.seat-1 {
  max-width: 95px;
  max-height: 231px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -1px;
}
.best {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 200px;
}
